<section>
	<hr>

	<div class="row" align="center">
    <h3>Studio Rita Soares <small>Quem Somos?</small></h3>

    <div class="col-lg-6 col-sm-12 col-sm-12 col-xs-12" style="margin-bottom:20px">
      <img class="img-responsive img-responsive" src="media/office.jpg" alt="" />
    </div>
    <div class="col-lg-6 col-sm-12 col-sm-12 col-xs-12">
        <p>A estética influência diretamente no bem-estar e na auto-estima das pessoas, onde todos procuram por serviços e produtos de qualidade que satisfaçam todas os seus desejos e vontades para todos os tipos de eventos que enfrentamos, seja eles atípicos ou cotidianos.<br><br>Com o intuito de centralizar todas as necessidades estéticas dos nossos clientes fundamos em 2008 nosso centro de beleza que conta com profissionalismo e excelência em produtos para garantir serviços incomparáveis à comunidade de Ribeirão Preto. Contando com uma variedade de serviços qualidade e de pontualidade garantimos total satisfação aos nossos clientes.<br><br> A nossa excelência é garantida através de contínuos cursos profissionalizantes e por uma incansável busca pelos produtos mais requisitados no mercado, como as marcas Annethune, Matrix, Coiffer entre outras, além de uma equipe competente e fiél aos nossos clientes.</p>
    </div>
	</div>

	<hr>
  <ui-gmap-google-map center="map.center" zoom="map.zoom">
    <ui-gmap-marker coords="marker.coords" idkey="marker.id"></ui-gmap-marker>
  </ui-gmap-google-map>
	<hr>

	<div class="row" align="center">
    <img class="img-responsive" src="media/trabalhe_conosco.jpg" alt="" />
	</div>

	<hr>
</section>
